.form {
  max-width: 80rem;
  margin: 5.5rem auto;
  padding: 2rem 3rem;
  background-color: rgba(236, 243, 226, 0.6);
  border-radius: 12px;
}

.control {
  padding: 1.5rem 2rem;
}

.button {
  padding: 1rem 2rem;
  cursor: pointer;
  border: none;
  outline: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  font-size: 1.5rem;
  border-radius: 10px;
}

.auth-button {
  background-color: rgb(75, 130, 20);
}

.switch-mode {
  background-color: darkcyan;
  margin-left: 1.5rem;
  text-decoration: none;
}

.error {
  color: red;
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 1px;
}
