.select {
  padding: 0.7rem;
  width: 100%;
  border: none;
  border-radius: 2px;
}

.select.disabled {
  pointer-events: none;
  background-color: lightgray;
  cursor: not-allowed;
}

.error {
  color: red;
  display: block;
  margin-top: 1.2rem;
  font-size: 1.6rem;
}
