.profile {
  margin: 3rem auto;
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  height: 70vh;
  padding: 1rem;

  & h2 {
    font-size: 2.5rem;
  }
}

.button {
  cursor: pointer;
  padding: 1rem 2rem;
  width: 100%;
  color: black;
  font-size: 2.5rem;
  border: none;
  outline: none;
  text-transform: uppercase;
  border-radius: 10px;
  letter-spacing: 1px;
}

.edit-button {
  background-color: aquamarine;
}

.logout-button {
  background-color: red;
}
