.profile {
  margin: auto;
  margin-top: 3rem;
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 70vh;
  padding: 10px;
}

.button {
  cursor: pointer;
  padding: 10px 20px;
  width: 100%;
  color: black;
  font-size: 25px;
  border: none;
  outline: none;
  text-transform: uppercase;
  border-radius: 10px;
  letter-spacing: 1px;
}

.edit-button {
  background-color: aquamarine;
}

.logout-button {
  background-color: red;
}
