.form {
  max-width: 800px;
  margin: auto;
  margin-top: 55px;
  margin-bottom: 55px;
  padding: 20px 30px;
  background-color: rgba(236, 243, 226, 0.6);
  border-radius: 12px;
}

.control {
  padding: 15px 20px;
}

.button {
  padding: 10px 30px;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  outline: none;
  color: black;
  border-radius: 5px;
  margin-right: 10px;
}

.add-button {
  background-color: #8eee07;
}

.delete-button {
  background-color: red;
}

.error {
  text-align: center;
  font-size: 25px;
  color: red;
}
