.form {
  max-width: 80rem;
  margin: 5.5rem auto;
  padding: 2rem 3rem;
  background-color: rgba(236, 243, 226, 0.6);
  border-radius: 12px;
}

.control {
  padding: 1.5rem 2rem;
}

.button {
  padding: 1rem 3rem;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  outline: none;
  color: black;
  border-radius: 5px;
  margin-right: 1rem;
}

.add-button {
  background-color: #8eee07;
}

.cancel-button {
  background-color: burlywood;
  text-decoration: none;
  font-size: 1.3rem;
}

.delete-button {
  background-color: red;
}

.error {
  text-align: center;
  font-size: 2.5rem;
  color: red;
}
