.picker {
  margin-top: 10px;
}

.picker .button {
  padding: 8px;
  cursor: pointer;
  border: none;
  outline: none;
  color: white;
  border-radius: 3px;
}

.preview {
  border-radius: 5px;
}

.upload-button {
  background-color: rgb(207, 136, 23);
  margin-right: 1rem;
}

.upload-web-button {
  background-color: rgb(41, 207, 23);
}

.picker .web-input {
  margin-top: 1rem;
}
