.label,
.input,
.select {
  width: 100%;
}

.label {
  margin-bottom: 10px;
  font-size: 20px;
}

.input {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.select {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.option {
  padding: 10px;
}

.error {
  font-size: 17px;
  margin-top: 7px;
  color: red;
  padding: 10px;
}

.error-input {
  border: 1px solid red;
}
