.label,
.input,
.select {
  width: 100%;
}

.label {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.input {
  padding: 1rem;
  border: none;
  border-radius: 5px;
}

.select {
  padding: 1rem;
  border: none;
  border-radius: 5px;
}

.option {
  padding: 1rem;
}

.error {
  font-size: 1.7rem;
  margin-top: 0.7rem;
  color: red;
  padding: 1rem;
}

.error-input {
  border: 1px solid red;
}
