*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

image {
  display: block;
}

input,
select,
label {
  display: block;
}

body {
  background-color: #D3E9E3;
}
