*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

image {
  display: block;
}

input,
select,
textarea,
label {
  display: block;
}

textarea {
  width: 100%;
  height: 120px;
  padding: 10px;
  font-size: 20px;
  resize: none;
  border: none;
  border-radius: 5px;
}

body {
  background-color: #D3E9E3;
  background: url("./assets/cars-bg.jpg");
  background-size: cover;
}

.text-label {
  margin-bottom: 10px;
  font-size: 20px;
}

.text {
  padding: 0 20px;
}
