@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgba(236, 243, 226, 0.6);
  border-radius: 1rem;
  -webkit-box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.75);
  padding: .8rem 1rem;
  animation: slideDown 0.5s ease-out;
}

.title {
  font-size: 2rem;
}

.price {
  font-size: 2.2rem;
  letter-spacing: 2px;
}

.link {
  text-transform: uppercase;
  text-decoration: none;
  padding: .8rem 1rem;
  background-color: #386055;
  color: white;
  border-radius: 5px;
  letter-spacing: 1px;
  font-size: 2rem;
}
