.item {
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: rgba(43, 158, 131, 0.4);
  border: none;
  border-radius: 1rem;
  padding: 1rem 2rem;

  & h1 {
    font-size: 3rem;
    color: chocolate;
  }

  & h3 {
    font-size: 2rem;
    color: darkgreen;
  }

  & button {
    padding: 0 2rem;
    font-size: 3rem;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
}

.title {
    font-size: 2rem;
}
